* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font-family: Verdana;
}

.container {
    width: 1200px;
    background: white;
    margin: 10px auto;
    position: relative;
}

.superior {
    background: #F3AA00;
    overflow: hidden;
    height: 125px;
    font-size: 18px;
}

.logo {
    float: left;
    width: 180px;
    padding: 35px;
}

/*Estilos para el menu de opciones*/
.menu {
    float: right;
    padding: 50px;
}

.opciones li {
    float: left;
    list-style: none;
}

.opciones li a {
    color: black;
    padding: 20px;
    text-decoration: none;
}

.opciones li a:hover {
    color: white;
}

.opciones li img:hover {
    opacity: 0.9;
}

/*Estilos para el cuerpo*/
.cuerpo {
    overflow: hidden;
}

.cuerpo h1 {
    padding: 15px;
}

.cuerpo p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    padding: 20px;
}

.caja {
    float: left;
    width: 380px;
    margin: 9px;
    border: 1px solid;
}

.subtitulo {
    background: #F3AA00;
}

.servicios {
    color: black;
    text-align: center;
    padding: 15px 0px;
}

.efecto:hover {
    opacity: 0.9;
    cursor: pointer;
}

.titulo {
    text-align: center;
    font-style: italic;
}

.contenido {
    padding: 20px;
    text-align: justify;
}

.seguir {
    padding-bottom: 15px;
}

.inferior {
    background: #F3AA00;
    overflow: hidden;
    padding: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.enlace-inferior {
    text-decoration: none;
}

/* Estilos Nostros */

.caja-mision {
    border: 1px solid;
    float: left;
    width: 580px;
    margin: 9px;
}

.caja-vision {
    border: 1px solid;
    float: left;
    width: 580px;
    margin: 9px;
}

/* Estilos Libros */

.search-form {
    width: 500 px;
}

.search-bar {
    width: 400px;
    margin: 10px 0px;
    padding: 10px;
}

.book {
    padding: 10px;
    background: #F6F6F6;
    float: left;
    width: 355px;
    margin: 10px;
    border: 1px solid;
}

.book-info {
    text-align: center;
}

.book-info button {
    font-size: 18px;
}

.book-button {
    background: #F3AA00;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.delete-button {
    background: #f32400;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.delete-button:hover {
    cursor: pointer;
}

.add-button {
    background: #8af300;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.add-button:hover {
    cursor: pointer;
}

.book-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Estilos para pagina de rastreo */

.track-box {
    background: #F6F6F6;
    border: 1px solid;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 5px;
}

.track-form label {
    font-size: 20px;
    margin: 25px;
}

.track-form input {
    width: 250px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.track-form button {
    background: #F3AA00;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.track-form button:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Estilos para el carrito */
.carrito {
    width: 1000px;
    margin: auto;
}

.carrito h4 {
    text-align: left;
}

.libros {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
    margin: 10px 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}

.libros td,
th {
    border: 1px solid;
    padding: 8px;
}

.libros th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background: #F3AA00;
    color: black;
}

.libros td {
    background: #F6F6F6;
}

.payment-form {
    background: #F6F6F6;
    width: 50%;
    border: 1px solid;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.payment-form p {
    margin: 10px 0px;
}

.aviso {
    background: #F6F6F6;
    width: 50%;
    border: 1px solid;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.aviso h4,
p {
    text-align: center;
}

.payment-form button {
    background: #F3AA00;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.payment-form button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.payment-form input {
    width: 250px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.user-history {
    margin: auto;
    width: 1000px;
}

.supplier-history {
    margin: auto;
    width: 1000px;
}

.enviado {
    color: rgb(0, 255, 0);
}

.pendiente {
    color: rgb(0, 60, 255);
}

.cancelado {
    color: rgb(255, 0, 0);
}

.best-sellers {
    text-align: center;
    overflow: hidden;
}

.login-box {
    background: #F6F6F6;
    border: 1px solid;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}
